version: '3.8' # Puoi anche rimuovere questa riga come suggerisce l'avviso

services:
  backend:
    build:
      context: .. 
      dockerfile: Dockerfile  # <-- MODIFICA QUI
    
    ports:
      - "8080:8080"
      
    volumes:
      - ../rec2pdf-backend:/app/rec2pdf-backend

    env_file:
      - .env
      
    command: npm run dev